{% extends 'core/home.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
{% block I %}

        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container">
                <div style="margin-left:-80px">
                    <img class="D" src='{% static "logo1.png" %}' width="30" height="30" >
                    <a class="navbar-brand " href="/">BlackJack</a>
                </div>
            </div>
        </nav>

<div class="bg-dark text-white-50 form-control-sm" style="margin-left:25%; margin-right:25%; margin-top:20px;">
    <div class="offset-5 h3">
        <a>Iniciar sesion</a>
    </div>
</div>

<form style="margin-left:25%; margin-right:25%; margin-top:20px;" class="form-control-sm bg-dark text-white"  method="post">
    <div class="offset-3 ">
        {% csrf_token %}
        <div class="container">
            {{ form.as_p }}
        </div>
        <div>
            <button class="btn" style="background:white; margin-left: 22%;" type="submit" id="submit">Iniciar secion</button>
        </div>
    </div>

</form>

<div class="bg-dark offset-3 form-control-sm" style="margin-right: 25%;  margin-bottom:10px; margin-top:10px;">
    <div style="margin-left:10px">
        <div class="text-white" style="margin-left: 39.5%">
            <a>¿No tiene una cuenta?</a>
        </div>
        <div style="margin-top:10px">
            <button class="btn" style="background-color:white; margin-bottom:10px; margin-left: 39.05%;"><a class="nav-link active text-black"  href="/register">Registrarse</a></button>
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>