{% extends 'core/home.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
{% block I %}

        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container">
                <div style="margin-left:-80px">
                    <img class="D" src='{% static "logo1.png" %}' width="30" height="30" >
                    <a class="navbar-brand " href="/">BlackJack</a>
                </div>
            </div>
        </nav>

<div class="bg-dark text-white form-control__title">
    <div class="titulo h3">
        <a>Iniciar sesion</a>
    </div>
</div>

<form class="form bg-dark text-white"  method="post">
        {% csrf_token %}
        <div class="container">
            <div>
                <label>Usuario:</label>
                <input class="form-control__input" type="text" name="username">
            </div>
            <div>
                <label>Contraseña:</label>
                <input class="form-control__input"  type="password" name="password">
            </div>
            <div>
                <button class="form-control__button" type="submit" id="submit">Iniciar sesion</button>
            </div>
        </div>
</form>

<div class="bg-dark offset-3 form" style="margin-right: 25%;  margin-bottom:10px; margin-top:10px;">
    <div style="margin-left:10px">
        <div class="text-white titulo">
            <a>¿No tiene una cuenta?</a>
        </div>
        <div class="text-white titulo">
            <a>registrese <a class="texto-white" href="/register">aqui</a></a>
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>