{% extends 'core/home.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block I %}

<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container">
        <a class="navbar-brand ">BlackJack</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    </div>
</nav>


<div class="bg-dark text-white container form-control-sm" style="margin-top:80px">
    <div class="offset-5">
        <div style="margin-bottom:10px">
            <a>Cerraste sesion</a>
        </div>
        <div>
            <button class="btn" style="background:white; margin-bottom:10px"><a class="nav-link active text-black" href="/">Inicio</a></button>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>