{% extends 'core/home.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block I %}

        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container">
                <div style="margin-left:-80px">
                    <img class="D" src='{% static "logo1.png" %}' width="30" height="30" >
                    <a class="navbar-brand " href="/">BlackJack</a>
                </div>
            </div>
        </nav>


<div class="bg-dark text-white container form-control-sm" style="margin-top:80px">
    <div class="offset-5">
        <div style="margin-bottom:10px">
            <a>Cerraste sesion</a>
        </div>
        <div>
            <button class="btn" style="background:white; margin-bottom:10px"><a class="nav-link active text-black" href="/">Inicio</a></button>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>