{% extends 'core/home.html' %}
{% load static %}
<html lang="en">
<head>
    <title>Title</title>
</head>
{% block I %}
<body class="bg-black">
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container">
                <div style="margin-left:-80px">
                    <img class="D" src='{% static "logo1.png" %}' width="30" height="30" >
                    <a class="navbar-brand " href="/">BlackJack</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right:-80px">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/productos">Productos</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="true">opciones</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/perfil">Cambiar foto de perfil</a></li>
                                <li><a class="dropdown-item" href="/perfil">Cambiar foto de portada</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src='{% static "logo1.png" %}' alt="">
                        <i class="far fa-image"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">{{request.user.username}}</h3>
                <h4 class="texto">Descripcion</h4>
            </div>
            <div class="perfil-usuario-footer">
                <ul class="lista-datos">
                    <li><i class="icono"></i>Nombre:</li>
                    <li><i class="icono"></i>Email:</li>
                    <li><i class="icono"></i>Direccion:</li>
                </ul>
                <ul class="lista-datos">
                    <li><i class="texto"></i>{{request.user.first_name}} {{request.user.last_name}}</li>
                    <li><i class="texto"></i>{{request.user.email}}</li>
                    <li><i class="icono fas fa-user-check"></i></li>
                </ul>
            </div>
            <div class="perfil-usuario-footer">
                <ul class="lista-datos">
                    <li><i class="icono"></i>Partidas totales:</li>
                    <li><i class="icono"></i>Victorias:</li>
                    <li><i class="icono"></i>Derrotas:</li>
                    <li><i class="icono"></i>Empates</li>
                </ul>
                <ul class="lista-datos">
                    <li><i class="icono fas fa-map-marker-alt"></i></li>
                    <li><i class="icono fas fa-calendar-alt"></i></li>
                    <li><i class="icono fas fa-user-check"></i></li>
                    <li><i class="icono fas fa-share-alt"></i></li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
</body>
</html>